@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,800&family=Ubuntu:wght@700&display=swap');
html {
  scroll-behavior: smooth;
}
.arrow {
  margin-top: 20px;
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
@media (max-width: 800px){
  div {
    flex-direction: column;
  }
  .github{
    width: 20px;
    margin-right: 10px;
  }
  .link{
    width: 20px;
  }
  .tags{
    min-width: max-content;
    /* width: 20px; */
  }
}

header nav a {
  transition: 0.5s ease-out;
  display: none;
}
header nav a.active {
  padding: 10px;
  display: inline-block; /* or whatever display style you want for active elements */
  color: #dedede;
  transition: 0.5s ease-out;
  letter-spacing: 2px;
}
.navhead{
  color: #dedede;
}
